/* css page only allows css, can't do html */
/*below is an element selector (selects one thing only*/
h1 {color:peru;} 
/*group selector should be --> h1, p { xxxxx} and everything inside the {} */
h1, p {
    font-size: 180%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    background-color:beige;}
/*descendent selector: only changes links inside paragraph text*/
p a {
    color:rgb(170, 205, 136);
}
.secondpara { 
    /* this is a class selector. class selector can be used to pick one or more tags on page*/
    color:rgb(0, 64, 255);
}
/* this is an ID selector, IDs must be unique */
#firstpara {
    color:darkmagenta;
}